@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.item {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.page {
  &__container {
    background-image: url(https://images.unsplash.com/photo-1571211905393-6de67ff8fb61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    background: #e2f3f5;
    box-shadow: 1px 2px 28px 0px rgba(0, 0, 0, 0.75);

    border-radius: 4px;
  }
  &__title {
    padding: 2rem 0;

    margin-top: 0;
    font-family: 'Dancing Script', cursive;
  }
}

.button {
  &__container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  background: rgb(8, 176, 243);
  width: 200px;
  margin: 2rem 0;
  height: 50px;
  border-radius: 4px;
  vertical-align: auto;
  visibility: hidden;

  &__container {
    display: flex;
    justify-content: center;
  }

  &--visible {
    animation: fade 1.6s ease forwards;
    visibility: visible;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

// Modal Icon

#list {
  &__icon {
    width: 1.6em;
    height: 1.6em;
  }
}

// Modal Styling

.list {
  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    padding: 1rem;
    max-width: 550px;
    box-shadow: -1px -2px 28px 0px rgba(0, 0, 0, 0.75);
    background-color: whitesmoke;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 620px) {
  // Overall page layout
  .page {
    &__container {
      width: 100vw;
      height: 100%;
    }
    &__content {
      width: 100vw;
      height: calc(100vh + 10px);
      border-radius: inherit;
      box-shadow: none;
    }
  }

  // "Tooltip" styling

  .tooltip {
    margin: 0.5rem 0;
  }

  .item {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__form {
      margin-bottom: 1rem;

      &__wrapper {
        width: 100%;
      }
    }
  }

  .button {
    &__container {
      padding-top: 1rem;
    }
  }

  // modal styling
  .list {
    &__card {
      max-width: 90vw;
    }
  }
}

// iPhone 5/SE specific layout
@media screen and (max-width: 320px) {
  // Overall page layout
  html,
  body {
    overflow-x: hidden;
  }
  .page {
    &__content {
      width: 100vw;
      height: calc(100vh + 100px);
    }
  }
}
