.classNewItem {
  width: 100vw;
}
.item {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.page {
  &__title {
    padding-bottom: 2rem;
  }
}

.button__container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  background: rgb(8, 176, 243);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  vertical-align: auto;
  visibility: hidden;

  &__container {
    display: flex;
    justify-content: center;
  }

  &--visible {
    animation: fade 1.6s ease forwards;
    visibility: visible;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
