.card {
  &__container {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 75, 94);
    width: 25rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(120, 120, 120, 1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(120, 120, 120, 1);
    box-shadow: 0px 0px 20px 3px rgba(120, 120, 120, 1);
  }
  &__title {
    font-size: 1.4rem;
    color: rgb(216, 112, 147);
  }
  &__subtitle {
    color: rgba(230, 163, 185, 0.9);
    font-size: 1.05rem;
    font-weight: 600;
  }
}

.text {
  &__container {
    text-align: left;
  }
}
