.MuiAccordionDetails-root {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3.1rem;
  font-size: 1rem;
}

.item__container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  #item__name {
    padding-top: 0.5rem;
    font-size: 1.25rem;
  }

  .delete__span {
    justify-content: flex-end;
  }
  .icon {
    float: right;
    padding-top: 0.5rem;
  }
}
