.item {
  &__highlight {
    text-decoration: line-through;
    background: rgb(226, 199, 199);
  }
}

.Mui-checked {
  text-decoration: line-through;
}

.list {
  &__item {
    &--soon {
      background: yellow;
    }
    &--kind-of-soon {
      background: red;
    }
    &--not-soon {
      background: green;
    }

    &--inactive {
      background: purple;
    }
  }
}

.flex {
  &-container {
    display: flex;
    flex-direction: column;
  }
}

.MuiAccordionDetails-root {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3.1rem;
  font-size: 0.95rem;
}
