.search {
  &__bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 350px;
    height: 30px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: 1.5px solid black;
    font-size: 1.1rem;
    padding-left: 0.5rem;
  }

  &__icon {
    width: 28px;
    fill: #0077ff;
    cursor: pointer;
    vertical-align: middle;
    position: relative;

    &--invisible {
      visibility: hidden;
    }
  }
}

.items {
  &__list {
    margin: 2rem 0;
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
