.custom {
  &__button {
    cursor: pointer;
    width: 150px;
    background: #0077ff;
    color: whitesmoke;
    border: 2px solid #0077ff;
    padding: 10px 5px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1.1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;

    &--large {
      width: 250px;
    }

    &:hover {
      background: whitesmoke;
      color: #0077ff;
    }

    &:focus {
      outline: none;
    }
  }
}
