// Radio button style variables
$labelColor: hsla(100, 100, 100, 1);

.form {
  &__fieldset {
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.1rem;
  }

  &__legend {
    padding: 1.8rem 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__container {
    display: flex;
    margin-bottom: 3rem;
  }

  &__label {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    height: 5rem;
    width: 10rem;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
    background-color: $labelColor;

    &--soon {
      $labelColor: hsla(59, 100%, 86%, 1);
      background-color: $labelColor;
    }
    &--kind-of-soon {
      $labelColor: hsla(20, 100%, 92%, 1);
      background-color: $labelColor;
    }
    &--not-soon {
      $labelColor: hsla(193, 80%, 82%, 1);
      background-color: $labelColor;
    }
  }

  &__radio {
    margin: 5px 10px 0 0;
    display: none;

    &:checked + label {
      box-shadow: 0 0 3px darken(hsl(186, 48, 92), 40%);
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
