.form {
  &__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.1rem;
  }

  &__legend {
    padding-top: 2rem;
  }

  &__label {
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    color: grey;
  }

  &__radio {
    margin: 5px 10px 0 0;
  }
}
